# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Coverage & Reports
coverage/
reports/
.nyc_output/

# Build
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Stryker
.stryker-tmp/

# SonarQube Scanner
.scannerwork/